<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="title" content="izzi - Gran Rosca de Reyes 2019">
		<meta name="description" content="Gran Rosca de Reyes 2019">
		<meta name="keywords" content="">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="Spanish">
		<meta name="revisit-after" content="1 days">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>izzi - Gran Rosca de Reyes 2019</title>
		<!-- <link rel="shortcut icon" href="favicon.ico"> -->
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<header>
			<div class="container">
				<a href="#!">
					<figure>
						<img src="/img/logo.png" alt="izzi">
					</figure>
				</a>
				<nav class="mobile-none">
					<ul>
						<li><a href="#Home">HOME</a></li>
						<li><a href="#Premios">PREMIOS</a></li>
						<li><a href="#Dinamica">DINÁMICA</a></li>
					</ul>
				</nav>
			</div>
			<img class="stripe" src="/img/stripe.png">
		</header>
		
        {{{body}}}

		<footer>
			<img src="/img/migas.png"
			     srcset="/img/migas@2x.png 2x,
			             img/migas@3x.png 3x">
		</footer>

		<script src="/js/main.min.js" type="text/javascript"></script>
	</body>
</html>
