<section class="hero relative">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 hero-title">
                <h1>Gran Rosca <br> de Reyes 2019</h1>
                <a class="button pink" href="#Dinamica">Dinámica del sorteo</a>
            </div>
            <div class="col-12 col-md-7 relative">
                <video class="video" controls controlsList="nodownload">
                    <source src="/rosca/assets/video/promorosca.mp4" type="video/mp4">
                    <source src="/rosca/assets/video/promorosca.webm" type="video/webm">
                    <source src="/rosca/assets/video/promorosca.ogv" type="video/ogg">
                </video>
            </div>
        </div>
    </div>
</section>
<section class="ganadores hidden">
    <div class="container">
        <p class="h1">Ganadores</p>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card card-full">
                    <div class="card-header">
                        <span class="pink">1er. Lugar</span>
                        <img src="/rosca/assets/img/car.svg">
                    </div>
                    <div class="card-content">
                        <b>Diego Leonel Juárez</b> <br>
                        Chevrolet Beat
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-full">
                    <div class="card-header">
                        <span class="blue">2do. Lugar</span>
                        <img src="/rosca/assets/img/card-blue.svg">
                    </div>
                    <div class="card-content">
                        <b>Doricela Reyes</b> <br>
                        $50,00 en Monedero de intercambio
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="consulta hidden">
    <div class="container">
        <p class="h1 m-b-50">
            Consulta si eres uno de <br>
            los afortunados ganadores
        </p>
        <div class="row">
            <div class="col-12 col-sm-7 col-md-5 flex f-col justify-end">
                <div class="floating-input">
                    <input v-model.lazy="lugar" required type="number" id="search" name="search">
                    <span class="floating-label placeholder">Búsca tu número de empleado</span>
                    <!-- Los dos status de mensajeok -->
                    <span id="resultMessageError" class="message error hidden">Número de empleado incorrecto</span>
                    <span id="resultSeachMessage" class="message win"></span>
                </div>
            </div>
            <div class="col-12 col-sm-5 col-md-7 flex f-row justify-start align-center">
                <button class="button m-t-0 m-l-40" type="button" name="button" onclick="consultaPorNumeroEmpleado();">
                    Buscar
                </button>
                <button class="button flat m-t-0 m-l-40" type="button" name="button"
                        onclick="obtenerEmpleadosPremiados();">Ver todos
                </button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row hidden" id="premiadosContent">
            <div class="col-12 col-sm-12">
                <table id="premiados" class="" style="width:100%">
                    <thead>
                    <tr>
                        <th data-field="noEmpleado">No. Empleado</th>
                        <th data-field="nombre">Nombre</th>
                        <th data-field="apellidos">Apellidos</th>
                        <th data-field="area">Area</th>
                        <th data-field="region">Region</th>
                        <th data-field="premio">Premio</th>
                    </tr>
                    </thead>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
<div id="Premios"></div>
<section class="premios relative">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10">
                <p class="h1">Premios</p>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <span class="pink">1</span>
                                <img src="/rosca/assets/img/car.svg">
                            </div>
                            <div class="card-content">
                                Automóvil
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <span>1</span>
                                <img src="/rosca/assets/img/card.svg">
                            </div>
                            <div class="card-content">
                                Monedero <br>
                                de $50,000 pesos
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <span>9</span>
                                <img src="/rosca/assets/img/card.svg">
                            </div>
                            <div class="card-content">
                                Monederos <br>
                                de $10,000 pesos
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <span>9</span>
                                <img src="/rosca/assets/img/card.svg">
                            </div>
                            <div class="card-content">
                                Monederos <br>
                                de $5,000 pesos
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <span>90</span>
                                <img src="/rosca/assets/img/card.svg">
                            </div>
                            <div class="card-content">
                                Monederos <br>
                                de $2,000 pesos
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <span>90</span>
                                <img src="/rosca/assets/img/card.svg">
                            </div>
                            <div class="card-content">
                                Monedero <br>
                                de $1,000 pesos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 tablet-none"></div>
        </div>
    </div>
    <img src="/rosca/assets/img/reyes.png" srcset="/rosca/assets/img/reyes@2x.png 2x,
										 rosca/assets/img/reyes@3x.png 3x" class="rosca tablet-none">
</section>
<div id="Dinamica"></div>
<section class="mecanica relative">
    <div class="container">
        <div class="row">
            <div class="col-3 tablet-none"></div>
            <div class="col-12 col-md-9">
                <p class="h1">Dinámica</p>
                <ul>
                    <li class="square-pink">
                        <p>
                            Los ganadores del sorteo serán determinados de acuerdo a los números ganadores del Sorteo
                            Superior de la Lotería
                            Nacional del 1 de febrero de 2019.
                        </p>
                    </li>
                    <li class="square-orange">
                        <p>
                            La publicación de los números ganadores se realizará el 5 de febrero vía correo electrónico
                            y en esta página
                            web.
                        </p>
                    </li>
                    <li class="square-blue">
                        <p class="m-b-0">
                            Si resultas ganador de cualquiera de estos premios, comunícate con tu Coordinador de
                            Recursos Humanos local.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <img src="/rosca/assets/img/rosca.png" srcset="/rosca/assets/img/rosca@2x.png 2x,
										 rosca/assets/img/rosca@3x.png 3x" class="rosca-taza tablet-none">
</section>