<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <h1>Reyes Magos</h1>
        </div>
        <div class="col-6">
            <a href="/admin" class="button pink expand mt-0">Administracion</a>
        </div>
    </div>
</div>
<section class="form-ganadores">
    <form action="" id="form_ganadores" novalidate="novalidate">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mb-5">Hola Rey Mago aquí podrás ingresar a tus ganadores</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="ganadores_nombre">Nombre</label>
                        <input type="text" name="ganadores_nombre" id="ganadores_nombre" required="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="ganadores_empleado">Número de empleado</label>
                        <input type="text" name="ganadores_empleado" id="ganadores_empleado" required="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="select-holder">
                        <label for="ganadores_localidad">Localidad</label>
                        <select name="ganadores_localidad" id="ganadores_localidad" required="">
                            <option value="">Selecciona tu localidad</option>
                            <option value="GDL">Guadalajara, Jal.</option>
                            <option value="CDMX">Ciudad de México</option>
                            <option value="MTY">Monterrey, N.L.</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button class="button pink expand mt-0" type="submit">Registrar</button>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="rosca-galeria">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="h1 mb-5">Reyes Magos</div>
            </div>
            <div class="col-sm-4 sm-text-right">
                <p class="mt-2 mb-5"><a href="/slider" target="_blank">Ver todas las fotos</a></p>
            </div>
        </div>
        <div class="gallery-grid">

            {{#each archivos}}
                <div class="photo-element">
                    <img src={{archivoDir}} alt="">
                    <span class="info">{{datosArchivo.archivo}}</span>
                </div>
            {{/each}}

            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-1.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-2.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-3.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-1.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-2.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-3.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-1.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element">-->
                <!--<img src="/rosca/assets/img/rosca-2.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element hidden">-->
                <!--<img src="/rosca/assets/img/rosca-3.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element hidden">-->
                <!--<img src="/rosca/assets/img/rosca-1.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element hidden">-->
                <!--<img src="/rosca/assets/img/rosca-2.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
            <!--<div class="photo-element hidden">-->
                <!--<img src="/rosca/assets/img/rosca-3.jpg" alt="">-->
                <!--<span class="info">02/01/19 - CDMX</span>-->
            <!--</div>-->
        </div>
    </div>
</section>